@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  --text-color: #4d4d4d;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
}

#search-container {
  flex: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-form {
  margin-top: 10px;
}

#settings-container {
  position: absolute;
  right: 50px;
  top: 50px;
}

#weather-container {
  flex: 5;
  display: none;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'current-container forecast-24h-container'
    'current-container forecast-daily-container';
}

#current-container {
  grid-area: current-container;
  display: flex;
  justify-content: end;
  align-items: center;
}

#current-container > div > div:last-child {
  display: flex;
}

#forecast-24h-container {
  grid-area: forecast-24h-container;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#forecast-24h-cards {
  display: flex;
  flex-wrap: wrap;
}

#forecast-daily-cards {
  display: flex;
}

#forecast-daily-container {
  grid-area: forecast-daily-container;
}

#loading-container {
  display: none;
  flex: 5;
}

#error-container {
  display: none;
  flex: 5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight-color);
}

#gh-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  color: var(--font-medium);
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 38px;
}

#gh-logo {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
  transform: rotate(360deg) scale(1.2);
}
